{% extends "layout.html" %}

{% block body %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
        <!-- Türkçe Başlık -->
        <h3 class="abt-TUR" style="font-weight: bold; font-size: 40px;">
            Hakkımızda
        </h3>
        <hr style="border: 1px solid rgb(132, 0, 255); margin-bottom: 20px;">
        <p style="font-size: 18px; color: rgb(187, 187, 187);">
            VigiBeats, sanatçıları ve yapımcıları buluşturan ve onları bir üst noktaya taşıyan bir platformdur.
        </p>
        <hr style="border: 1px solid rgb(132, 0, 255); margin-bottom: 40px;">

        <!-- İngilizce Başlık -->
        <h3 class="abt-ENG" style="font-weight: bold; font-size: 40px;">
            About Us
        </h3>
        <hr style="border: 1px solid rgb(132, 0, 255); margin-bottom: 20px;">
        <p style="font-size: 18px; color: rgb(187, 187, 187);">
            VigiBeats is a platform to connect producers and artists to take them to the next step.
        </p>
        <hr style="border: 1px solid rgb(132, 0, 255); margin-bottom: 20px;">
    </div>
</div>
{% endblock body %}
